<% if @event.errors.any? %>
  <% @event.errors.full_messages.each do |e| %>
    <strong><%= e %></strong>
    <br>
  <% end %>
<% end %>

<form action='/events/create' method='post'>
  <input type='text' name='event[organizer_name]' placeholder='organiser name' value='<%= @event.organizer_name %>' />
  <input type='text' name='event[organizer_email]'placeholder='organiser email' value='<%= @event.organizer_email %>' />
  <input type='date' name='event[date]' placeholder='event date' value='<%= @event.date %>' />
  <input type="text"  name="event[title]" placeholder='event title'value='<%= @event.title %>' />
  <input type='submit' value='Create an event'>
</form>